<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <script src="/js/client.js"></script>
    <script src="../static/js/client.js"></script>
</head>
<body>
<div class="window">
    <div class="folder-overlay" id="overlay">
        <input type="text" class="in" name="" id="overlay-dir-input" placeholder="Directory name"
        onkeydown="if (event.keyCode==13) {createDirectory(document.getElementById('overlay-dir-input').value);}">
    </div>
    <div class="title-bar">
        <h1 class="title"> <a href="/dashboard" style="text-decoration: none; color: var(--text-primary);">JPCloud</a></h1>
        <input type="text" class="path-input" id="path-input" placeholder="Enter path..." value="/" onkeydown="if(event.keyCode==13) setpath();">
    </div>
    <div class="content-wrapper">
        <div class="sidebar">
            <h1>Branches</h1>
            <ul th:each="branch : ${branches}">
                <li th:onclick="'setBranch(' + ${branch.getId()} + ')'"
                    th:class="${param.branch != null && param.branch[0] == branch.getId().toString() ? 'active' : ''}">
                    <span th:text="${branch.getLabel()}"></span>
                </li>
            </ul>
        </div>
        <div class="content">
        <div class="file-grid" id="file-grid">
            <ul th:each="file : ${files}">
                <li>
                    <div class="file"   th:attr="data-path=${file.getPath()}" onclick=" downloadFile(this)">

                    <div class="icon"><img th:src="${file.getDisplayIcon()}" alt="Logo"></div>
                        <div class="name" th:text="${file.getFileName()}"></div>
                    </div>

                </li>
            </ul>
        </div>
    </div>
    </div>
    

    <div class="create-new-section">
        <button class="create-button " onclick="selectFile()"><img src="/images/upload.png" alt="Upload File"></button>
        <button class="create-button" onclick="showDirOverlay(true)"><img src="/images/folder.png" alt="Create folder"></button>
        <button class="round-button" onclick="toggleCreateButtons()">+</button>
    </div>

    
</div>
</body>
</html>